input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.wrapper{
	display: flex;
	height: 100%;
}

.column{
	width: 100%;
	flex-grow: 1;
	margin: auto;
}

@media only screen and (max-width: 300px) {
	.column{
		width: 33%;
	}
}