html, body{
	height: 100%;
	background-color: #3e3f3a;
}

.background{
	background-image: url("images/mission-San-Juan-Capistrano.jpg");
	height: 100%;
	width: 100%;
	background-repeat: repeat-x;

}

.well{
	opacity: 0.85;
}

footer{
	position: absolute;
	background: #3e3f3a;
	width: 100%;
	bottom: 0;
	color: white;
	text-align: center;
	border-top: 10px;
}
